
<div style="text-align: center;">
    <span style="font-size: xx-large;">Welcome trainer {{trainer?.username}}</span><br><br>
    <span style="font-size: x-large;">You have collected {{collected}} pokemon</span><br><br>
    <span style="font-size: x-large;">Your pokemon</span>
    <app-pokemon-catalogue [pokemons]="pokemons"></app-pokemon-catalogue>
</div>