<mat-toolbar role="heading" class="toolbar">
    <img src="../../../assets/Pokemon-logo-497D61B223-seeklogo.com.png" alt="" class="logo">
    <span>
        <ng-container *ngIf="trainer !== undefined">
            <a mat-button routerLink="trainer"><mat-icon fontIcon="person"></mat-icon>Trainer</a>
            <a mat-button routerLink="catalogue"><mat-icon fontIcon="list"></mat-icon>Catalogue</a>
            <a mat-button (click)="handleLogout()" routerLink="landing" ><mat-icon fontIcon="logout"></mat-icon>Logout</a>
        </ng-container>
    </span>
</mat-toolbar>