<mat-card *ngIf="pokemon"
  style="display:flex; flex-direction: column; justify-content: center; align-items: center; width:20em; height:40em; text-align: center;">
  <mat-card-title>{{upperCaseFirstLetterName(pokemon.name)}}</mat-card-title>
  <img mat-card-lg-image src="{{getImageLink(pokemon.url)}}">
  <mat-card-content style="margin-right: 0px;">
    <mat-expansion-panel hideToggle style="margin-right: 0px; align-items: center;">
      <mat-expansion-panel-header style="align-items: center; margin-right: -8px;">
        <mat-panel-title style="justify-content: center; margin-right: 0px;">Details</mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-pokemon-catalogue-item-details [id]="getPokemonId(pokemon.url)"></app-pokemon-catalogue-item-details>
      </ng-template>
    </mat-expansion-panel>
  </mat-card-content>
  <app-collect-pokemon-button [pokemonUrl]="pokemon.url" style="margin:5px"></app-collect-pokemon-button>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>