<mat-grid-list cols="4" rowHeight="1:2">
    <mat-grid-tile *ngFor="let pokemon of pokemons" style="justify-content: space-around; align-items: center;">
        <app-pokemon-catalogue-item [pokemon]="pokemon"> </app-pokemon-catalogue-item>
    </mat-grid-tile>
</mat-grid-list>