/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'pokemon';
    src: url(assets/fonts/PKMNRBYGSC.ttf) format("truetype");
}

html, body { height: 100%; }
body { margin: 0; font-family: "pokemon", sans-serif; }

* { font-family: "pokemon", sans-serif; }